#button_about, #button_contact {
	width: 40px;
}


#top {
	overflow: hidden;
	margin-top: 20px;
}

#button_about {
	float: right;
	cursor: pointer;
	margin-right: 7px;
}

#button_about:hover {
	background-image: url("../images/home/about_hover.png");
	background-size: 40px;
}

#button_contact {
	float: right;
	cursor: pointer;
	margin-right: 50px;
}

#button_contact:hover {
	background-image: url("../images/home/about_hover.png");
	background-size: 40px;
}




#center {
	position: relative;
	margin: auto;
	margin-top: 1.5%;
	width: 800px;
	text-align: center;
}
#logo {
	margin: auto;
	font-size: 70px;
}



#logo_p, #logo_i, #logo_n, #logo_c, #logo_h {
	display: inline-block;
	margin-bottom: 0;
	margin-top: 0;
	font-size: 103px;
	margin-left: 10px;
	margin-right: 10px; 
}

#logo_p {
	position: relative;
	top: 24px;
	width: 82px;
	margin-right: 4px;
}

#logo_n {
	margin-left: 10px;
	margin-right: 2px;
}

#catchphrase {
	font-family: Quicksand-Bold;
	font-size: 17px;
	margin-top: 10px;
}



#button_search {
	position: relative;
	top: 17px;
	width: 100px;
	cursor: pointer;
}

#button_search:hover {
	background-image: url("../images/home/search_hover.png");
	background-size: 100px;
}

#search {
	margin-top: 30px;
}

#input_search {
	width: 45%;
	height: 40px;
	font-size: 20px;
	padding-left: 20px;
	border-radius: 18px;
	border: 2px solid lightgrey;
	outline: 0;
}

#input_search:focus {
    box-shadow: 0px 0px 3pt 2pt green;
}